body{
    background-color: #8b36da;
}

.botoes {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forca {
    height: 50vh;
    width: 15vw;
    margin-top: 8vw;
}

@media only screen and (max-width: 800px) {
    .forca {
      margin-top : 100vw;
      width: 40vw;
    }
  }

.palavras {
    list-style: none;
    font-size: 3vw;
    margin-top: -4vw;
    margin-bottom: 3vw;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    
  }
li {
    list-style: none;
    text-align: center;
    color: white;
}

.teclado {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {

    color: #fff;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    margin: 0.5vw;
}

.botoes button {
    background-color: #561b7e;
    font-size: 1.5vw;
    font-weight: bold;
    width: 4vw;
    height: 4.5vw;
}


button:hover {
    background-color: #6b229c;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
#Dica{
    color: white;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 5vw;
    font-family: 'Montserrat', sans-serif;
}

#cabeça{
    display: none;
}
#corpo{
    display: none;
}
#braçoesquerdo{
    display: none;
}
#braçodireito{
    display: none;
}
#pernaesquerda{
    display: none;
}
#pernadireita{
    display: none;
}
#olho{
    display: none;
}
#PalavraSecreta{
    letter-spacing: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#alerta{
    padding: 20px;
    background-color: #481768de;
    color: white;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 30vw;
    height: 10vw;
    text-align: center;
    border-radius: 1vw;
    display: none;
}

.reiniciar{
    background-color: #561b7e;
    font-size: 1vw;
    font-weight: bold;
    width: 10vw;
    height: 2vw;
}

@media only screen and (max-width: 800px) {
    .palavras {
        list-style: none;
        font-size: 7vw;
        margin-top: -4vw;
        margin-bottom: 10vw;
        text-align: center;
    }
    .botoes button {
        background-color: #561b7e;
        font-size: 3vw;
        font-weight: bold;
        width: 8vw;
        height: 8vw;
        margin-top: 2vw;
    }
    #Dica{
        color: white;
        font-size: 4vw;
        text-align: center;
        margin-bottom: 8vw;
        font-family: 'Montserrat', sans-serif;
    }
  }
